<a href="https://colab.research.google.com/github/MagdaSousa/bootcamp_machine_learningIGTI/blob/main/Fundamentos_de_Aprendizado_de_M%C3%A1quina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bootcamp: Analista de Machine Learning
Desafio do módulo

Fundamentos de Aprendizado de Máquina

In [1]:
import pandas as pd

In [3]:
arquivo= pd.read_csv('/content/winequality-red.csv',sep=';')
arquivo.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

Verificando as características do dataset

In [8]:
#No dataset utilizado para o desafio, quantas instâncias e atributos existem, respectivamente?
arquivo.shape

(1599, 12)

In [13]:
#Quantos tipos diferentes de dados existem no dataset do desafio?
#2 tipos float e inteiro
arquivo.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [16]:
#Qual é a proporção (em %) de valores nulos existente na coluna "residual sugar" (resíduo de açúcar)?
arquivo.

False

In [18]:
#Qual é o desvio padrão para a variável "fixed acidity"?
arquivo.describe()
#fixed acidity= devio padrão 1,741096


#Qual é a mediana para a variável "residual sugar"?
#2.2

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [ ]:
#Sobre o coeficiente de correlação de Pearson entre as variáveis "fixed acidity" e "pH", é CORRETO afirmar:


#Sobre o coeficiente de correlação de Pearson entre as variáveis "quality" e "alcohol", mesmo sendo reduzido, é CORRETO dizer:

In [19]:
#Quantas instâncias existem para a qualidade do vinho igual a 5?
arquivo.loc[arquivo['quality']==5].count()
#681

fixed acidity           681
volatile acidity        681
citric acid             681
residual sugar          681
chlorides               681
free sulfur dioxide     681
total sulfur dioxide    681
density                 681
pH                      681
sulphates               681
alcohol                 681
quality                 681
dtype: int64

In [ ]:
#Aplique o modelo de normalização MinMaxScaler com os valores "default" para os dados de entrada. Qual é o menor valor para a variável "fixed acidity"?

In [ ]:
#Após dividir o dataset utilizando o método train_test_split(entradas_normalizadas, saida, test_size=0.30, random_state=1). Qual foi a acurácia para o KNN?

In [ ]:
#Aplicando o algoritmo de árvore de decisão com os parâmetros definidos no enunciado do desafio e a divisão de treinamento e teste, como mostrado anteriormente, qual é o valor da acurácia?

In [ ]:
#Aplicando o algoritmo de floresta randômica com os mesmos parâmetros apresentados no enunciado e mesmos valores para o treinamento e teste, qual é o valor mais próximo para a acurácia?

In [ ]:
#Aplicando o algoritmo SVM para a classificação da qualidade dos vinhos com os mesmos valores anteriores para treinamento e teste, qual é o valor mais próximo para a acurácia obtido?

In [ ]:
#Aplicando a rede MLP, como mostrado no enunciado, e com os mesmos dados de treinamento e teste utilizados, qual é o valor mais próximo para a acurácia do modelo?

In [ ]:
#Modifique o dataset para um sistema binário que considere vinhos com nota maior do que 5 (6, 7, 8) sejam bons e menores ou igual a 5 ruins (5, 4, 3). Aplique o modelo da floresta randômica. Qual é o valor mais próximo da acurácia do modelo para esse novo dataset?

Aplicação dos algoritmos  
Algoritmo KNN:

In [6]:
from sklearn.neighbors import KNeighborsClassifier
clf_KNN = KNeighborsClassifier(n_neighbors=5)

Algoritmo Árvore de Decisão:

In [ ]:
clf_arvore = DecisionTreeClassifier()

Algoritmo SVM:

In [ ]:
clf_svm=SVC(gamma='auto',kernel='rbf')

Algoritmo Rede MLP:

In [ ]:
clf_mlp = MLPClassifier( alpha=1e5, hidden_layer_sizes=(5, 5), random_state=1)